@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #3A4D4B;
  color: #fffdd0;
}

* {
  box-sizing: border-box;
}

a {
  color: #e67e80;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #7fbbb3;
}

img {
  max-width: 100%;
  display: block;
}
